@model IEnumerable<DoAnThietKeWeb1.Models.Blog>

<div class="heading">
    <h1>our blogs</h1>
    <p> <a asp-controller ="Home" asp-action="HomeIndex">home >></a> blogs </p>
</div>

<section class="blogs">

    <h1 class="title"> our <span>blogs</span> <a href="#">view all >></a> </h1>

    <div class="box-container">
        @foreach (var blog in Model)
        {
            <div class="box">
                <div class="image">
                    <img src="@Url.Content( blog.Image)" alt="@blog.Title" />
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> @blog.PostedDate?.ToString("dd MMM yyyy") </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>@blog.Title</h3>
                    <p>@(blog.Content?.Length > 100 ? blog.Content.Substring(0, 100) + "..." : blog.Content)</p>
                    <a href="#" class="btn">Đọc tiếp <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        }
    </div>


</section>